#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.center {
    text-align: center;
    font-weight: bold;
}

.adminSpace {
    margin: auto;
    width: 85%;
    border-style: solid;
    border-color: #406aad;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mintToken {
    margin: auto;
    width: 50%;
    border-style: solid;
    border-color: #406aad;
    margin-top: 20px;
}
.transferToken {
    margin: auto;
    width: 50%;
    border-style: solid;
    border-color: #406aad;
    margin-top: 20px;
    margin-bottom: 20px;
}