#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

#container-border {
    border-width: 2px;
    border-color: #406fff;
    border-style: solid;
}

.remaining {
    color: red;
}